/*更新注意这里， 这是左侧边栏选择 */
.normal_select .svelte-1gfkn6j {
    float: left;
    width: auto;
    line-height: 220% !important;
}
.normal_mut_select {
   padding: var(--block-padding);
}
.normal_mut_select .svelte-1gfkn6j {
    float: left;
    width: auto;
    line-height: 260% !important;
}
.normal_mut_select .token[class*="svelte-"] {
    padding: 5px
}
span.svelte-1gfkn6j:not(.has-info) {
    margin-bottom: unset;
}

/*更新注意这里*/
.sm_select {
    position: relative !important;
    z-index: 5 !important;
    /*bottom: 5px;*/
    min-width: min(20%,100%) !important;
    /*border-radius: 20px!important;*/
}
.sm_select .style {
    max-height: 28px;
}
/*更新注意这里*/
.sm_select .svelte-1gfkn6j {
    float: left;
    width: auto;
    line-height: 151% !important;
}
.sm_select .wrap[class*="svelte-"] {
    border-radius: var(--block-title-radius);;
    width: auto;
    background-color: #f6f6f6 !important;
}
.dark .sm_select .wrap[class*="svelte-"] {
    background-color: #515151 !important;
}
.sm_checkbox {
    position: relative !important;
    z-index: 5 !important;
    bottom: 5px;
    padding: 0 !important;
}

.sm_select .token[class*="svelte-"] {
    padding: 1.5% !important;
    max-height: 20px !important;

}
.sm_select .wrap-inner[class*="svelte-"] {
    padding: 0 !important;
    flex-wrap: unset !important;
    overflow: hidden !important;
}
.sm_select .block.svelte-mppz8v {
    width: 10% !important;
}


/* 行内按钮 */
div.svelte-15lo0d8>*, div.svelte-15lo0d8>.form>* {
    min-width: min(140px,100%);
}
/* 输入框 */
.no_padding_input {
    padding: unset !important;
}
/* 提示词列表 */
#prompt_list{
   margin-left: 10px;
}
#gr-more-sm-row {
    gap: unset;
}
#gr-more-sm-column {
    min-width: min(30%, 100%) !important;
    margin-left: -0.5%;
}
/* 小按钮 */
#gr-chat-sm-column {
    min-width: min(10%, 100%) !important;
    max-height: 42px;
    gap: 22%;
    display: flex;
    justify-content: start;
    align-content: center;
    flex-direction: row;
    max-width: 62px;
    margin-left: 1%;;
}
#gr-chat-sm-column button {
    box-shadow: none;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    display: flex;
}
/*  */
.gr-know-sm-column {
    min-width: min(25%, 100%) !important;
    max-width: min-content !important;
    margin-right: 7px;
    justify-content: center;
    align-items: center;
}
/*!* 强制隐藏 *!*/
/*.hide.svelte-vt1mxs {*/
/*    display: none !important;*/
/*}*/

code.language-folded {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: auto;
}

.unclamp {
 -webkit-line-clamp: unset !important;
}
.toggle-button-hide {
    opacity: 0;
}

.user .message-btn-column {
    position: absolute;
    left: -23px !important;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-content: end;
    gap: 2px;
}
.message-btn-column .chuanhu-btn {
    position: absolute;
    bottom: 0;
}
.user .message-btn-column .chuanhu-btn {

}
.bot .message-btn-column .chuanhu-btn {
    left: -15px;
}
.message-btn-column .toggle-md-btn {
    margin-bottom: 20px;
}
/*.user .message-btn-column:hover {*/
/*    background-color: unset !important;*/
/*    !*display: block !important;*!*/
/*    color: unset !important;*/
/*}*/
.search_txt {
    min-width: min(60%, 100%) !important;
}
.short_btn {
    position: relative;
    min-width: min(10%,100%) !important;
    overflow: hidden;
}

.search-show {
    min-height: 64%;
    max-height: 64%;
}
.search-example {
    min-height: 30%;
    max-height: 30%;
    overflow: auto;
}
.input-search {
    min-width: 10%;
}

#pm_check {
    left: 20px;
}

#prompt_list .label {
    display: -webkit-box !important;
}
#prompt_list .label svg {
    margin-top: 2px !important;;
}

.column_left {
    min-width: 40% !important;
}
#mask_tabs .sort-button {
    display: none;
}
.controls-wrap {
    gap: 10px;
}
.red-dot {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}
/* 这个没有必要存在，阻碍用户继续编写 */
.wrap.default.full[class*="svelte-"] {
    display: none;
}

#mask_tabs .table[class*="svelte-"] {
    overflow: unset;
}
#show-all-btn {
    right: 35px;
    margin: -2px;
}

#upload-index-file {
    width: 200px;
    display: none;
    position: fixed;
    bottom: 110px;
    opacity: 0.90;
    backdrop-filter: blur(24px);
}
[class*="gradio-container-"] h1 {
    font-weight: 700 !important;
    font-size: 28px !important;
}
[class*="gradio-container-"] h2 {
    font-weight: 600 !important;
    font-size: 24px !important;
}
[class*="gradio-container-"] h3 {
    font-weight: 500 !important;
    font-size: 20px !important;
}
[class*="gradio-container-"] h4 {
    font-weight: 400 !important;
    font-size: 16px !important;
}
[class*="gradio-container-"] h5 {
    font-weight: 300 !important;
    font-size: 14px !important;
}
[class*="gradio-container-"] h6 {
    font-weight: 200 !important;
    font-size: 12px !important;
}